body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

.main-menu-container {
    padding-top: 35px;
}

.main-menu {
    padding: 0;
    border-bottom: 1px solid white;
    text-align: center;
    width: 500px;
    margin: 0 auto;  
}

.main-menu-item {
    display: inline-block;   
}

.main-menu-item a {
    color: white;
    text-decoration: none;
    display: block;
    width: 120px;
    padding: 20px 0;
}

.main-menu-item a:hover {
    color: white;
    background-color: grey;
}

main {
    background-color: rgba(128, 128, 128, 0.335);
    margin: 50px 200px 0 200px;
    padding: 40px 30px;
}

h1 {
    margin: 10px auto;
    padding-top: 20px;
    font-size: 40px;
}

.created-date {
    color: rgba(128, 128, 128, 0.472);
}

p {
    line-height: 150%;
}

h2 {
    font-size: 27px;
}

.end {
    line-height: 150%;
}

.image-container {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}


figcaption {
    color: rgba(255, 255, 255, 0.644);
    font-style: italic;
}

footer {
    background-color: rgba(128, 128, 128, 0.109);
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 80px;
}